
        * {
          text-align: center;
          color: rgb(231, 231, 238);
          background-color: darkslategrey;
        }
        #rockPic{
          
        
          
        }
        #JarPic{
         
        }
       